<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Users</h5>
          <p class="card-text">Provide full control for admin Managment.</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Translation Tools</h5>
          <p class="card-text">
            Translate and export subtitltes srt to diffirent languages.
          </p>
          <a [routerLink]="['/translation']" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>
