<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <button class="add-new-user" mat-raised-button color="primary" (click)="openAddEditUserDialog()"><mat-icon>person_add</mat-icon> New User</button>
    </div>
    <div class="col-sm-3">
      <mat-slide-toggle class="hide-all-slide" (change)="onHideDeactivatedUsers($event)">Hide Deactivated Users</mat-slide-toggle>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="search-input">
        <mat-label>Seach</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element" [class.blur-text]="!element.lockoutEnabled">{{ element.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element" [class.blur-text]="!element.lockoutEnabled">{{ element.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element" [class.blur-text]="!element.lockoutEnabled">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef>Roles</th>
    <td mat-cell *matCellDef="let element" [class.blur-text]="!element.lockoutEnabled">{{ element.roles?.join(", ") }}</td>
  </ng-container>

  <ng-container matColumnDef="lockoutEnabled">
    <th mat-header-cell *matHeaderCellDef class="mat-table-col-action">Activate</th>
    <td mat-cell *matCellDef="let element" class="mat-table-col-action" [class.blur-text]="!element.lockoutEnabled"><mat-slide-toggle (change)="onUpdateUserStatus(element,$event)" [checked]="element.lockoutEnabled"></mat-slide-toggle></td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="mat-table-col-action">Action</th>
    <td mat-cell *matCellDef="let element" class="mat-table-col-action" [class.blur-text]="element.lockoutEnabled">
      <button mat-raised-button color="basic" [disabled]="!element.lockoutEnabled" (click)="openAddEditUserDialog(element)"><mat-icon>edit</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
