.upload-section {
    border-radius: 5px;
    border: 1px solid #495056;
    padding-top: 5px;
    padding-bottom: 5px;
}

  .input-file {
    border-top: 1px solid grey;
  }
  .input-file:hover {
    cursor: pointer;
  }
  .input-file-selected {
    background: #dbdbdb;
    color: #1669bb;
  }
  .input-list {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  table .mat-header-cell {
      background: white;
  }
  
  .fileManagerNavbar fa-icon {
    font-size: 22px;
  }

  .fileManagerNavbar {
    width: 100%;
  }

  .fileManagerNavbar .navbar-right {
    float: right;
  }

  #fileManager-menu {
    box-shadow: 0 0.25rem 4.75rem rgb(0 0 0 / 5%);
    margin-bottom: 15px;
  }