.upload-section {
    border-left: 1px solid #495056;
    padding-top: 5px;
    padding-bottom: 5px;
}

  .input-file {
    border-top: 1px solid grey;
  }
  .input-file:hover {
    cursor: pointer;
  }
  .input-file-selected {
    background: #dbdbdb;
    color: #1669bb;
  }
  .input-list {
    height: calc(100vh - 240px);
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  table .mat-header-cell {
      background: white;
  }
  
  .bodyNavbar fa-icon {
    font-size: 22px;
  }

  .bodyNavbar {
    width: 100%;
  }

  .bodyNavbar .navbar-right {
    float: right;
  }

  #fileManager-menu {
    box-shadow: 0 0.25rem 4.75rem rgb(0 0 0 / 5%);
    margin-bottom: 15px;
  }

  .btn-treenode:focus {
    outline: none;
    box-shadow: none;
  }
  .btn-treenode {
    padding: 0;
    width: 100%;
    text-align: left;
  }
  .mat-tree-node fa-icon {
    margin-right: 5px;
  }

  .mat-tree-node {
    min-height: 30px;
  }

  .selected-node, .selected-item-folder {
    background: #eff3f7;
  }

  .item-folder fa-icon{
    font-size: 100px;
  }

  .item-folder {
    text-align: center;
  }

